@font-face {
    src: url("fonts/beauty_2/BeautyDemo.ttf");
    font-family: Beauty;  
}

@font-face {
    src: url("fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf");
    font-family: Caviar;  
}

@font-face {
    src: url("fonts/coyote/Coyote-SemiBoldDEMO.ttf");
    font-family: Coyote;  
}


*{
    margin: 0px;
    padding: 0px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

#nav{
    width: 100%;
    height: 30px;
    background-color: #9293c9;
    align-items: center;
    font-family: Caviar;
    display: flex;
    position:fixed;
    top:0
}

header{
    width: 100%;
    line-height: 250px;
    background-color: white;
    background-size: 100% 100%;
    border-bottom: 1px solid #f8b310;
}

#nav ol{
    list-style-type: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction:row;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    }
    
#nav ol li{
    list-style: none;
    display: block;
    width: 150px;
    float: center;
    text-align: center;
    font-size:14pt;
}

#nav ol li a{
    text-align: center;
    text-decoration: none;
    color:white;
    display: block;
 }

#nav ol li a:hover{
    color: #9293c9;
    background-color:white;
}

h1{
    font-family: Coyote;
    color: black;
    font-size: 38pt;
    text-align: center;
    padding-top: 3%;
    margin-top: 0%;
    margin-bottom: 3%;
}

#ilustracion {
    background-color: #f8b310;
}

#diseno {
    background-color: white;
}

#descargas {
    background-color: #7ec2b3;
}

#quienes {
    background-image: url(../img/IMAGEN-TRANSPARENTE.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 3%;
}

#contactos{
    background-color: #f37791;
    text-align: center;
    padding-bottom: 3%;
}

#ilustracion ol{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

#ilustracion ol li{
    padding: 10px 9px 10px 9px;
    border-radius: 0%;
    margin-right: 4%;
    margin-left: 4%;
    display: inline-flex; 
    margin-bottom: 3%; 
    }

#diseno ol{
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
    
#diseno ol li{
        padding: 10px 9px 10px 9px;
        border-radius: 0%;
        margin-right: 4%;
        margin-left: 4%;
        display: inline-flex; 
        margin-bottom: 3%; 
        }

#descargas ol{
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
        
#descargas ol li{
        padding: 10px 9px 10px 9px;
        border-radius: 0%;
        margin-right: 4%;
        margin-left: 4%;
        display: inline-flex; 
        margin-bottom: 3%; 
        }

#stickers ol{
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
        
#stickers ol li{
        padding: 10px 9px 10px 9px;
        border-radius: 0%;
        margin-right: 4%;
        margin-left: 4%;
        display: inline-flex; 
        margin-bottom: 3%; 
        }

footer {
    width: 100%;
    height: 1%;
    background-color: #cbdcf0;
    padding-top: 2%;
    display: flex;
}

#instagram {
    position: absolute;
    right: 20px;
    align-self: right;
    
}

#foticos {
    margin-left: auto;
    margin-right: auto;
    width: 29%;
}

h5{
    font-family: Beauty;
    color: black;
    font-size: 20pt;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 0%;
}

h4{
    font-family: Caviar;
    color: black;
    font-size: 19pt;
    text-align: center;
    padding-top: 5px;
    margin-top: 0%;
    margin-bottom: 3%;
}

h3 {
    font-family: Coyote;
    color: black;
    font-size: 8pt;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 0%;
}

p {
    font-family: Caviar;
    color: black;
    font-style: normal;
    font-size: 15pt;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

iframe {
text-align: center;
}
   
.menu-main{
    display: flex;
    justify-content: space-between;
    height:30px;
    line-height: 30px;
    }

.izquierda{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
}

.izquierda2{
    left: 80%;
}

.centro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 190px;
}

.derecha{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
}

.pequeno{
    width: 30px;
}

.ajustar {
    width: 237px;
}

@media (max-width: 768px) {

    #nav {
        height: auto;
    }

    #nav ol {
    height: auto;
    width: auto;
    border-bottom: 0px;
    display: block;
    }

    #ilustracion ol {
        height: auto;
        width: auto;
        border-bottom: 0px;
        display: block;
        }

    #diseno ol {
        height: auto;
        width: auto;
        border-bottom: 0px;
        display: block;
        }

    #descargas ol {
        height: auto;
        width: auto;
        border-bottom: 0px;
        display: block;
        }

    #stickers ol {
        height: auto;
        width: auto;
        border-bottom: 0px;
        display: block;
        }

    #quienes{ 
        background-size: auto;
    }

    #contactos {
        width: auto;
    }

    .centro {
        margin-top: 45%;
    }

    .izquierda {
        width: 30%;
    }

    .derecha {
        width: 30%;
    }

    #foticos {
        visibility: hidden;
    }

    }

